.flex-container {
    display: flex;
    width: 50%;
    border: 1px solid #ccc;
    margin: auto;
}

.flex-item {
    background-color: dodgerblue;
    border-right: 1px solid #000;
    text-align: center;
    line-height: 50px;
    color: white;
}
