.grid-container {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    flex-direction: column;
}

.grid-row {
    display: flex;
    color: #fff;
    font-size: 8.43902pt;
    line-height: 8.93521pt;
    font-weight: 800;
    width: 22%;
    text-align: left;
    border-bottom: 4px solid #fff;
    padding: 5px;
}

.grid-row:hover {
    opacity: 0.90;
    cursor: pointer;
}

.state-cell {
    justify-content: flex-start;
    pointer-events: none;
}

.votes-cell {
    margin-left: auto;
    pointer-events: none;
}
